        html, body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;

            /* Pour test */
            overflow: hidden;
        }

        #map {
            position: relative;
            height: 1000px;
            width: 100%;
            margin: 0;
            padding: 0;
      }

      .container-fluid
      {
        margin: 0;
        padding: 0;
      }

      .col-xs-12
      {
      	margin: 0;
      	padding: 0;
      }

      .info {
        width: 150px;
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255,255,255,1);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
    }

    .leaflet-clickable
    {
        cursor: help;
    }

    #listeRechercheLocal {
      font-family:sans-serif;
      margin:0;
      padding:20px 0 0;
  }

  #listeRechercheLocal > li {
      display:block;
      background-color: #eee;
      padding:10px;
      box-shadow: inset 0 1px 0 #fff;
  }

  #listeRechercheLocal li a
  {
    text-decoration: none;
}

.avatar {
  max-width: 150px;
}
img {
  max-width: 100%;
}
h3 {
  font-size: 16px;
  margin:0 0 0.3rem;
  font-weight: normal;
  font-weight:bold;
}
p {
  margin:0;
}

input {
  border:solid 1px #ccc;
  padding:7px 14px;
}

input:focus {
  border-color:#aaa;
}


#listeRechercheLocal h1, #listeRechercheLocal h2, #listeRechercheLocal h3, #listeRechercheLocal h4, #listeRechercheLocal h5, #listeRechercheLocal h6
{
    display: inline-block;
}

.navbar
{
    margin: 0;
}

#modalRechercher
{
    height: vh;
}

/* Version 1
#controlleEtage
{
    position: absolute;
    bottom: 80px;
    right: -10px;
}

#controlleEtage ul li
{
	position: relative;
    display: block;
    height: 40px;
    width: 70px;
    background-color: #e26e4d;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 2px;
    padding: 10px 0 0 10px;
    transition: all 300ms linear;

}

#controlleEtage ul li:hover
{
    background-color: #ba3a22;
    right: 10px;

}

#controlleEtage ul li a
{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
} */

#controlleEtage
{
    position: absolute;
    bottom: 80px;
    right: 20px;
}

#controlleEtage ul li
{
  position: relative;
    display: block;
    height: 50px;
    width: 50px;
    background-color: #e26e4d;
    border-radius: 50%;
    margin-bottom: 2px;
    padding: 10px 0 0 10px;
    transition: all 300ms linear;

}

#controlleEtage ul li:hover
{
    background-color: #ba3a22;
}

#controlleEtage ul li a
{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}


.etageActif
{
	right: 10px;
}

#indicateurEtage
{
  background-color: none;
  border: 2px solid #e26e4d;
}

footer
{
	width: 100%;
	position: absolute;
	bottom: 0;
  background-color: rgba(0,0,0,0.7);
}

#navigationFooter
{
	margin: 0;
	padding: 0;
  list-style-type: none;
}

#navigationFooter li
{
	margin: 0;
	padding: 0;
  display: inline-block;
  width: 100%;
  height: 50px;
  border-radius: 10px;
}


#navigationFooter li a
{
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

#navigationFooter li a:hover
{
	background-color: rgba(0,0,0,0.9);
}

#navigationFooter li a i
{
    font-size: 50px; 
}

/* Cache le controle de localisation (Normalement en haut à gauche) */
.leaflet-control
{
    display: none;
}

